<div class="container">
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam ligula, molestie ut turpis quis, sagittis imperdiet nisi. Aliquam vel egestas elit, scelerisque cursus enim. Mauris quam odio, venenatis ac justo a, rutrum vestibulum turpis. Proin vitae dolor arcu. Ut tempus lorem nunc, id laoreet est tincidunt nec. Praesent sit amet nisi in ante commodo ultricies ac sit amet metus. Aenean consequat ligula mauris, id maximus neque convallis id. Vestibulum dictum leo augue, nec hendrerit nibh efficitur vitae.
    </p>
</div>
    