.navigation{
    margin: 0 0 20px 0;
    ul{
        padding: 0;
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0 20px 0 0;
            a{
                text-decoration: none;
                color: #555;
                padding: 5px 0x;
                display: block;
            }
        }
    }
    
}
